@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);

@font-face {
    font-family: 'league_gothicregular';
    src: url('../fonts/league-gothic.regular-webfont.eot');
    src: url('../fonts/league-gothic.regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league-gothic.regular-webfont.woff2') format('woff2'),
         url('../fonts/league-gothic.regular-webfont.woff') format('woff'),
         url('../fonts/league-gothic.regular-webfont.ttf') format('truetype'),
         url('../fonts/league-gothic.regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}