body {
	background: url(../img/bg-body.jpg) no-repeat center 0;
	font-family: 'league_gothicregular', Tahoma, sans-serif;
	font-size: 1em;
}

.header-top {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.header-top:after {
	content: ' ';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.header-top__logo {
	display: block;
	width: 15.7%;
	position: absolute;
	top: 70px;
	left: 0;
}
.nav__ul-480 {
	display: none;
}
.nav__ul {
	float: right;
	width: 650px;
	margin: 74px 2px 174px 0;
	overflow: hidden;
	list-style: none;
}
.nav__li {
	float: right;
	margin-right: 40px;
	padding: 0 5px 6px 7px;
}
.nav__item {
	float: none;
	font-family: 'league_gothicregular', Tahoma, Arial, sans-serif;
	font-size: 24px;
	text-decoration: none;
	color: white;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.8);
}
.nav__item-320 {
	display: none;
}
.nav__li:hover {
	padding: 0 5px 4px 7px;
	border-bottom: 2px solid #edbfff;
}
.nav__li:first-child {
	margin-right: 0;
	padding: 0 0 4px 7px;
}
.nav__li:hover:first-child {
	padding: 0 0 4px 7px;
}
/* SLIDER */
.slider-cont {
	background: rgba(0, 0, 0, 0.2);
	margin-bottom: 168px;
}
.slider-cont__slider {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.slider-cont__slider:before {
	content: "";
	display: none;
	position: absolute;
	top: 45%;
    left: -33.65%;
	width: 30px;
	height: 42px;
	background: url(../img/arrows.png) no-repeat 0 0;
}
.slider-cont__slider:after {
	content: "";
	display: none;
	position: absolute;
	top: 45%;
	right: -33.6%;
	width: 30px;
	height: 42px;
	background: url(../img/arrows.png) no-repeat -30px 0;
}
.slider-cont__h1 {
	color: #fefefe;
	font-size: 61px;
	letter-spacing: -1px;
    padding: 77px 0 0 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.slider-cont__h2 {
	margin: -1px 0 0 0;
	color: #edbfff;
	font-size: 33px;
	letter-spacing: -0.4px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.slider-cont__h2-768 {
	display: none;
	margin: 9px 0 0 4.4%;
    color: #edbfff;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.slider-cont__p {
	padding: 6px 0 80px 0;
	color: white;
	font-family: 'Open Sans', sans-serif;
	line-height: 24px;
	font-size: 17px;
	width: 52.5%;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.slider-cont__p-768 {
	display: none;
}
.slider-cont__iphone {
	position: absolute;
	max-width: 274px;
	width: 100%;
	top: -17px;
	right: 7.25%;
}
.slider-cont__switcher {
	list-style: none;
	overflow: hidden;
	position: absolute;
	bottom: -110px;
    right: 162px;
}
.slider-cont__switcher__li {
	float: left;
	margin-right: 5px;
}
.slider-cont__switcher__a {
	display: block;
	width: 17px;
	height: 17px;
	background: url(../img/switcher.png) no-repeat 0 0;
}
.active {
	background: url(../img/switcher-active.png) no-repeat 0 0;
}
/* COLUMNS*/
.column-cont {
	height: 341px;
	border-top: 1px solid #33253a;
	background: url(../img/column-cont-bg.png) repeat-x 0 bottom, -moz-linear-gradient(90deg, rgba(50,37,57,1) 0%, rgba(116,80,131,1) 100%), url(../img/column-cont-bg.jpg) repeat-x 0 bottom; /* ff3.6+ */
	background: url(../img/column-cont-bg.png) repeat-x 0 bottom, -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(116,80,131,1)), color-stop(100%, rgba(50,37,57,1))), url(../img/column-cont-bg.jpg) repeat-x 0 bottom; /* safari4+,chrome */
	background: url(../img/column-cont-bg.png) repeat-x 0 bottom, -webkit-linear-gradient(90deg, rgba(50,37,57,1) 0%, rgba(116,80,131,1) 100%), url(../img/column-cont-bg.jpg) repeat-x 0 bottom; /* safari5.1+,chrome10+ */
	background: url(../img/column-cont-bg.png) repeat-x 0 bottom, -o-linear-gradient(90deg, rgba(50,37,57,1) 0%, rgba(116,80,131,1) 100%), url(../img/column-cont-bg.jpg) repeat-x 0 bottom; /* opera 11.10+ */
	background: url(../img/column-cont-bg.png) repeat-x 0 bottom, -ms-linear-gradient(90deg, rgba(50,37,57,1) 0%, rgba(116,80,131,1) 100%), url(../img/column-cont-bg.jpg) repeat-x 0 bottom; /* ie10+ */
	background: url(../img/column-cont-bg.png) repeat-x 0 bottom, linear-gradient(0deg, rgba(50,37,57,1) 0%, rgba(116,80,131,1) 100%), url(../img/column-cont-bg.jpg) repeat-x 0 bottom, url(../img/column-cont-bg.jpg) repeat-x 0 bottom; /* w3c */
}